/* STYLES */



/* RESET BORDERS, MARGINS AND PADDINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
/* END RESET BORDERS, MARGINS AND PADDINGS... */




/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: #d5e8ff;
}
/* END OF BODY STYLES... */



.overlay {
    display: none;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* HEADER STYLES */
.main-header {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.main-header h1{
    color: #0f0f86;
    padding: 10px;
}

.logout-button{
    position: absolute;
    right: 0;
    top: 13px;
    padding: 8px 12px;
    width: 100px;
    border-radius: 16px 0 0 16px;
    border: none;
    cursor: pointer;
    background-color: #0f0f86;
    color: white;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.main-header .open-sidebar {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.8rem;
}

.logout-button:hover{
    background-color: rgba(15, 15, 133, 0.2);
    color: #0f0f86;
}

/* END OF HEADER STYLES... */

/* FOOTER STYLES */
.footer {
    height: 20px;
    display: block;
    text-align: center;
    padding: 10px;
}
/* END OF FOOTER STYLES... */




/* MAIN TABS STYLES */
.tabs {
    height: calc(100dvh - 100px);
    display: flex;
}

.tab-nav {
    padding-left: 20px;
    padding-top: 40px;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.tab-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    border-radius: 25px 0 0 25px;
    color: #0f0f86;
    transition: background-color .15s ease-in-out;
}

.tab-button:hover {
    background-color: rgba(15, 15, 134, 0.20);
    border-radius: 25px 0 0 25px;
}

.tab-button-active {
    font-weight: bold;
    background-color: #0f0f86;
    color: white;
    border-radius: 25px 0 0 25px;
}

.tab-button-active:hover {
    font-weight: bold;
    background-color: #0f0f86;
    color: white;
    border-radius: 25px 0 0 25px;
}

.tab-content {
    display: none;
}

.tab-content-active {
    height: calc(100vh - 100px);
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    gap: 10px;
    background-color: white;
    border-left: 5px solid #0f0f86;
    border-top: 5px solid #0f0f86;
    border-bottom: 5px solid #0f0f86;
    border-radius: 25px 0 0 25px;
}

.tab-nav .close-sidebar {
    display: none;
}
/* END OF MAIN TABS STYLES... */


@media screen and (max-width: 1000px) {
.main-header h1 {
    display: none;
}


}

@media screen and (max-width: 600px) {
.footer {
    font-size: 10px;
}

.main-header .open-sidebar {
    display: block;
    cursor: pointer;
}

.tab-nav {
    position: fixed;
    top: 0;
    left: -200px;
    background-color: lightseagreen;
    padding-top: 0;
    z-index: 1;
}

.tab-nav .close-sidebar {
    display: block;
    font-size: 2rem;
    align-self: end;
    padding: 2px 8px;
    cursor: pointer;
}
}


@keyframes slideIn {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}



/* CONTENT TABS STYLES */
.content-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.c-tab-nav {
    flex-shrink: 0;
}

.c-tab-nav {
    display: flex;
}

.c-tab-button {
    display: flex;
    cursor: pointer;
}

.c-tab-button-active {
    font-weight: bold;
}

.c-tab-content {
    display: none;
}

.c-tab-content-active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END OF CONTENT TABS STYLES... */




/* LOGIN PAGE STYLES */
.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    background-color: #d5e8ff;
}

.login-title{
    text-align: center;
    font-weight: bold;
}

.login-errors{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: red;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.login-button{
    align-self: center;
    padding: 8px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #0f0f86;
    color: white;
    font-weight: bold;
    transition: background-color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.login-button:hover{
    background-color: rgba(15, 15, 134, 0.20);
    border-radius: 16px;
    color: #0f0f86;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form label{
    padding-left: 15px;
    font-size: 14px;
    cursor: pointer;
}


.login-form input{
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 18px;
    border: none;
    transition: outline .1s ease-in-out;
}

.login-form input:focus, .login-form input:hover{
    outline: 2px solid #0f0f86;
}






/* TABLE STYLES */
.table-container {
    width: 100%;
}

table {
    width: 100%;
    table-layout: auto;
}

table, th, tr, td {
    border: solid 1px;
    border-collapse: collapse;
    padding: 6px;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

tbody::-webkit-scrollbar {
    display: none;
}

.action-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-form button {
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
}

.action-form button i {
    font-size: 1.2rem;
    color: #a1a1a1;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 4px 8px;
    right: 120%;
    text-align: center;
    z-index: 1;
    transition: opacity .10s ease-in-out;
    font-weight: bolder;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);;
}

.action-form button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.view-button:hover .tooltip {
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
}

.view-button i:hover {
    color: blue;
}

.delete-button:hover .tooltip {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.delete-button i:hover {
    color: red;
}

.edit-button:hover .tooltip {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}

.edit-button i:hover {
    color: green;
}



/* BUTTONS */
button {
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.add-button {
    background-color: #d5d5ff;
}

.submit-button {
    background-color: #d3eaee;
}



/* MODAL STYLES */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    width: 400px;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

form .input-group{
    display: flex;
}

form input, form select{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}

form label{
    cursor: pointer;
}

form select {
    cursor: pointer;
}







/* REMOVE NUMBER INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}