/* STYLES */




@font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: homemade-apple;
    src: url(assets/font/HomemadeApple-Regular.ttf)
}

@font-face {
    font-family: gluten;
    src: url(assets/font/Gluten-ExtraBold.ttf)
}

/* RESET BORDERS, MARGINS AND PADDINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Roboto, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
}
/* END RESET BORDERS, MARGINS AND PADDINGS... */



html {
    scroll-behavior: smooth;
}


/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* END OF BODY STYLES... */



.overlay {
    display: none;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* HEADER STYLES */
.main-header {
    position: relative;
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
}


.main-header h1{
    color: white;
    padding: 10px;
    font-family: gluten;
    cursor: pointer;
}


.updates {
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-wrap: nowrap;
    padding: 10px 20px;
    cursor: pointer;
    gap: 10px;
}

.u-content {
    position: fixed;
    right: -200px;
    top: 60px;
    background-color: white;
    color: black;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity .25s ease-in-out;
}

.u-content span {
    font-weight: bold;
}


.heads-up {
    font-size: 1.2rem;
}


.main-header .open-sidebar {
    display: none;
    font-size: 1.8rem;
    color: white;
}




/* END OF HEADER STYLES... */

/* FOOTER STYLES */
.footer {
    height: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}
/* END OF FOOTER STYLES... */




/* MAIN TABS STYLES */
.tabs {
    height: calc(100dvh - 60px);
    width: 100%;
    display: flex;
}

.tab-nav {
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow: auto;
}

.tab-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    background-color: transparent;
    color: white;
    transition: background-color .15s ease-in-out;
    border-radius: 0 30px 30px 0;
    align-items: baseline;
    gap: 4px;
}

.tab-icon {
    width: 30px;
}

.tab-button:hover {
    background-color: rgba(213, 213, 255, 0.4);
}

.tab-button-active {
    font-weight: bold;
    background-color: rgb(213, 213, 255);
    color: black;
}

.tab-button-active:hover {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.tab-content {
    display: none;
    opacity: 0;
}

.tab-content-active {
    height: calc(100dvh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px 20px 20px;
    gap: 10px;
    opacity: 1;
}

.tab-content-active h2 {
    width: 100%;
    text-align: center;
}

/*
.dash, .mon, .ord, .rep {
    background-image: url('assets/uc/bear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bear {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: homemade-apple;
}
*/


.log-out {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


#logOutForm{
    display: flex;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.logout-info {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-self: flex-end;
}

#logOutForm span {
    font-size: 1.2rem;
    font-weight: bold;
}

.logout-button {
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #d5d5ff;
    color: black;
    font-weight: bold;
    transition: filter .3s ease-in-out;
    align-self: center;
}

.logout-button:hover{
    filter: brightness(90%);
}

.tab-nav .close-sidebar {
    display: none;
    color: white;
}

#eggcellent {
    display: none;
}
/* END OF MAIN TABS STYLES... */






/* CONTENT TABS STYLES */
.c-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    gap: 10px;
}

.c-tab-nav {
    flex-shrink: 0;
}

.c-tab-nav {
    display: flex;
    gap: 10px;
}

.c-tab-button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 16px;
    gap: 3px;
    align-items: center;
    transition: background-color .15s ease-in-out;
}

.c-tab-button:hover {
    background-color: rgba(213, 213, 255, 0.4);
}

.c-tab-button-active:hover {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-tab-button-active {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-tab-content {
    display: none;
}

.c-tab-content-active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;

}

/* END OF CONTENT TABS STYLES... */







.s-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}








/* LOGIN PAGE STYLES */
.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    transform: scale(1);
}


.login-title{
    text-align: center;
    font-weight: bold;
    color: white;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.login-button{
    align-self: center;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #d5d5ff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    transition: filter .3s ease-in-out;
}

.login-button:hover{
    filter: brightness(90%);
}


.input-cont {
    position: relative;
    display: flex;
}

.input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.login-form label{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}


.login-form input{
    width: 100%;
    font-size: 16px;
    padding: 10px 16px;
    padding-right: 30px;
    border-radius: 20px;
    border: none;
    transition: outline .1s ease-in-out;
    cursor: pointer;
}











/* TABLE STYLES */
.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 6px;
    cursor: default;
}

table {
    width: 100%;
    table-layout: fixed;
    border-radius: 6px;
    border: none;
    border-width: 0;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    text-align: center;
}

tbody tr {
    border-bottom: solid 1px #d5d5ff;
    transition: background-color .25s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(213, 213, 255, 0.5);
}

thead {
    background-color: #d5d5ff;
    border-radius: 6px 6px 0 0;
}


td:nth-child(1) {
    text-align: start;
    width: auto;
    text-wrap: pretty;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    height: calc(100dvh - 170px);
    overflow-y: auto;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 0 0 6px 6px;
}

.c-tab-content-active tbody {
    height: calc(100dvh - 200px);
}




/* TABLE ACTIONS */
.action-form {
    display: flex;
    flex-direction: row;
}

.action-form button {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2px;
    color: #d5d5ff;
    background: transparent;
    padding: 0px;
    width: 20px;
    border-radius: 0;
    overflow: hidden;
    transition: width .4s ease, color .4s ease;
}

.action-form .view-button:hover {
    width: 54px;
}

.action-form .edit-button:hover {
    width: 46px;
}

.action-form .delete-button:hover {
    width: 60px;
}

.action-form button:hover {
    color: #8686b2;
}

.action-form button i {
    font-size: 1.2rem;
}

.tooltip {
    display: none;
    opacity: 0;
    transition: opacity .4s ease;
}

.action-form button:hover .tooltip {
    display: block;
    opacity: 1;
}


/*
.view-button .tooltip {
    background-color: rgba(0, 0, 128, 0.8);
    color: white;
}

.view-button i:hover {
    color: rgb(0, 0, 128);
}

.delete-button .tooltip {
    background-color: rgba(139, 0, 0, 0.8);
    color: white;
}

.delete-button i:hover {
    color: darkred;
}

.edit-button .tooltip {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}

.edit-button i:hover {
    color: rgb(0, 128, 0);
}










/* BUTTONS */
button {
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #d5d5ff;
}

.add-button {
    background-color: #d5d5ff;
    transition: filter .25s ease-in-out;
}

.submit-button:hover, .add-button:hover {
    filter: brightness(90%);
}

.submit-button {
    background-color: #d5d5ff;
    transition: filter .25s ease-in-out;
}

.cancel-button {
    background-color: transparent;
    outline: 2px solid #d5d5ff;
    transition: background-color .25s ease-in-out;
}

.cancel-button:hover {
    background-color: rgba(213, 213, 255, 0.2);
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}









/* MODAL STYLES */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    color: black;
    background: white;
    padding: 14px;
    max-width: 480px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-message {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    text-wrap: pretty;
}


.close-modal {
    cursor: pointer;
}


.x {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 30px;
    width: 30px;
    color: black;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: background-color .2s ease-in-out;
}

.x i {
    transition: color .25s ease-in-out;
}

.x:hover {
    background-color: rgba(213, 213, 255, 0.5);
}





/* FORMS */
form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.image-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

input, select{
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: 2px solid #d5d5ff;
    min-width: 100px;
    max-width: 100%;
    background-color: white;
}

input:hover, input:focus, select:hover, select:focus {
    outline: 2px solid #8686b2;
}

form label{
    cursor: pointer;
    font-size: 14px;
}

form select {
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 10px;
}

.search {
    border-radius: 18px;
    padding-left: 20px;
}


/* FORM ADDONS */
.product-selection,
.customer-selection,
.item-selection,
.order-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 380px;
    overflow: auto;
}

.order .add-button, #selectCustomer .add-button, #logProduce .add-button {
    align-self: start;
}

.order-items {
    max-height: 360px;
    overflow: auto;
}

.order-item .product-details {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.order-item .product-details button {
    height: 100%;
}

.order-form h4, .produce-form h4 {
    align-self: start;
}

.item-input {
    display: flex;
    gap: 10px;
    align-items: last baseline;
}

.item-input .itemQuantity {
    width: 50px;
}

.item-input .subT {
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100px;
    padding: 0;
}

.product-card,
.customer-card,
.input-item,
.sc-card,
.sp-card,
.order-item {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #e9e9ff;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.order-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-card:hover,
.customer-card:hover,
.input-item:hover {
    background-color: #d5d5ff;
}

.customer-card,
.sc-card {
    display: flex;
    gap: 10px;
    align-items: last baseline;
}

.sc-card {
    justify-content: center;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.order-total {
    display: flex;
    width: 100%;
}

.st-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.order-total {
    padding: 4px;
    border-radius: 6px;
    outline: 2px solid #8686b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.st-group span {
    font-size: 1.2rem;
    font-weight: bold;
}

.st-group .add-button {
    align-self: end;
}

hr {
    width: 100%;
}




/* DASHBOARD */
.dashboard {
    height: 100%;
    width: 100%;
}


.dboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.charts {
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    scrollbar-width: none;
}

.d-group, .d-sales, .d-inv {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.d-misc {
    flex: 1;
    overflow: auto;
    scrollbar-width: none;
}

.ds-group, .di-group, .dm-group {
    background: rgba(213, 213, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}

.s-line, .i-bar {
    flex: 1.5;
}

.s-pie, .i-pie {
    flex: 1;
}

.dm-group {
    flex: 1;
}

.dm-group p {
    font-size: 2rem;
    font-weight: bold;
    color: #d5d5ff;
}

.dm-group i {
    font-size: 1.5rem;
}


/* REMOVE NUMBER INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





/* FOR DIFFERENT SCREEN SIZES */
@media screen and (max-width: 600px) {

    .main-header {
        padding: 6px;
    }

    .main-header h1 {
        display: none;
    }

    .updates .todays, .updates #date {
        display: none;
    }

    .footer {
        font-size: 10px;
    }

    .main-header .open-sidebar {
        display: block;
        cursor: pointer;
        padding: 2px;
    }

    .tab-nav {
        position: fixed;
        top: 0;
        left: -200px;
        background-color: #8686b2;
        padding-top: 0;
        z-index: 1;
        border-radius: 0 10px 10px 0;
    }

    .tab-nav .close-sidebar {
        display: block;
        font-size: 2rem;
        align-self: end;
        padding: 2px 8px;
        cursor: pointer;
    }

    .tab-button {
        border-radius: 0;
    }

    .tab-content-active {
        padding: 2px 6px 6px 6px;
    }

    #eggcellent {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.2rem;
        font-family: gluten;
        color: white;
    }
}



@media screen and (max-width: 960px) {
    .updates .todays {
        display: none;
    }

    thead{
        display: none;
    }
    tr{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: white;
        width: 100%;
    }
    tbody tr:hover{
        background-color: white;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }
    tbody td:nth-child(1) {
        background-color: #d5d5ff;
        font-weight: bold;
        width: auto;
        text-wrap: nowrap;
    }
    tbody{
        background: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .dboard {
        flex-direction: row;
    }

    .charts {
        flex: 4;
    }

    .d-misc {
        flex: 1;
        flex-direction: column;
    }

    .d-sales, .d-inv {
        flex-direction: column;
        height: min-content;
        flex: 1;
    }

    .dm-group {
        flex-direction: column;
    }

    .dm-group h3 {
        font-size: .8rem;
    }

    .ds-group, .di-group {
        flex: 1;
    }

}



@media screen and (max-width: 1280px) {
}


/* ANIMATIONS */
@keyframes slideIn {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}

@keyframes slideInRight {
    from {
        right: -200px;
    }
    to {
        right: 0px;
    }
}

@keyframes slideOutRight {
    from {
        right: 0px;
    }
    to {
        right: -200px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
  }