/* STYLES */




@font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: homemade-apple;
    src: url(assets/font/HomemadeApple-Regular.ttf)
}

@font-face {
    font-family: gluten;
    src: url(assets/font/Gluten-ExtraBold.ttf)
}

/* RESET BORDERS, MARGINS AND PADDINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Roboto, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
}
/* END RESET BORDERS, MARGINS AND PADDINGS... */



html {
    scroll-behavior: smooth;
}


/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* END OF BODY STYLES... */



.overlay {
    display: none;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* HEADER STYLES */
.main-header {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
}


.main-header h1{
    color: white;
    padding: 10px;
    font-family: gluten;
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}

.main-header h1:hover {
    text-shadow: 0 0 10px white;
}


.updates {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding: 8px 10px;
    border-radius: 25px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.updates h3 {
    padding-left: 10px;
}

.heads-up {
    font-size: 1.2rem;
    color: white;
    padding: 4px 10px;
    backdrop-filter: blur(5px);
    cursor: default;
}

.heads-up:hover {
    text-shadow: 0 0 10px white;
}

.heads-up:hover i{
    animation: flip 2s linear infinite;
}


.main-header .open-sidebar {
    display: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: white;
}




/* END OF HEADER STYLES... */

/* FOOTER STYLES */
.footer {
    height: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}
/* END OF FOOTER STYLES... */




/* MAIN TABS STYLES */
.tabs {
    height: calc(100dvh - 60px);
    display: flex;
}

.tab-nav {
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.tab-button {
    display: flex;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    background-color: transparent;
    color: white;
    transition: background-color .15s ease-in-out;
    border-radius: 0 30px 30px 0;
    align-items: baseline;
    gap: 4px;
    transition-delay: 0s, .25s;
}

.tab-icon {
    width: 30px;
}

.tab-button:hover {
    background-color: rgba(213, 213, 255, 0.4);
}

.tab-button-active {
    font-weight: bold;
    background-color: rgb(213, 213, 255);
    color: black;
}

.tab-button-active i {
    animation: flip 2s linear infinite;
}

.tab-button-active:hover {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.tab-content {
    display: none;
    opacity: 0;
}

.tab-content-active {
    height: calc(100dvh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px 20px 20px;
    gap: 10px;
    opacity: 1;
}

.tab-content-active h2 {
    width: 100%;
    text-align: center;
}

/*
.dash, .mon, .ord, .rep {
    background-image: url('assets/uc/bear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bear {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: homemade-apple;
}
*/


.log-out {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#logOutForm{
    display: flex;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: box-shadow .3s ease-in-out;
}

.logout-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-self: flex-end;
}

#logOutForm:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#logOutForm span {
    font-size: 1.2rem;
    font-weight: bold;
}

.logout-button {
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #d5d5ff;
    color: black;
    font-weight: bold;
    transition: filter .3s ease-in-out;
    align-self: center;
}

.logout-button:hover{
    filter: brightness(90%);
}

.tab-nav .close-sidebar {
    display: none;
    color: white;
}
/* END OF MAIN TABS STYLES... */




h1, h2, h3, h4 {
    color: white;
}


.modal-content h4 {
    color: white;
}

form h3 {
    color: white;
}



/* CONTENT TABS STYLES */
.c-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    gap: 10px;
}

.c-tab-nav {
    flex-shrink: 0;
}

.c-tab-nav {
    display: flex;
    gap: 10px;
}

.c-tab-button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 16px;
    gap: 3px;
    align-items: center;
}

.c-tab-button:hover {
    background-color: rgba(213, 213, 255, 0.4);
}

.c-tab-button-active:hover {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-tab-button-active {
    font-weight: bold;
    background-color: #d5d5ff;
    color: black;
}

.c-tab-button-active i {
    animation: flip 2s linear infinite;
}

.c-tab-content {
    display: none;
}

.c-tab-content-active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;

}

/* END OF CONTENT TABS STYLES... */



.s-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}


/* LOGIN PAGE STYLES */
.login-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    transform: scale(1);
}


.login-title{
    text-align: center;
    font-weight: bold;
}

.login-errors{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 150, 150);
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.login-button{
    align-self: center;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #d5d5ff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    transition: filter .3s ease-in-out;
}

.login-button:hover{
    filter: brightness(90%);
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-cont {
    position: relative;
    display: flex;
}

.input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.login-form label{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}


.login-form input{
    width: 100%;
    font-size: 16px;
    padding: 10px 16px;
    padding-right: 30px;
    border-radius: 20px;
    border: none;
    transition: outline .1s ease-in-out;
    cursor: pointer;
}


.login-form input:focus, .login-form input:hover{
    outline: 3px solid #d5d5ff;
}





/* TABLE STYLES */
.table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 6px;
    cursor: default;
}

table {
    width: 100%;
    table-layout: auto;
    border-radius: 6px;
    border: none;
    border-width: 0;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
}

tbody tr {
    border-bottom: solid 1px #d5d5ff;
    transition: background-color .25s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(213, 213, 255, 0.2);
}

thead {
    background-color: #d5d5ff;
    border-radius: 6px 6px 0 0;
}

th, td{
    text-align: center;
}

td:nth-child(1) {
    text-align: start;
    text-wrap:balance;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    height: calc(100dvh - 170px);
    overflow-y: auto;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 0 0 6px 6px;
}

.c-tab-content-active tbody {
    height: calc(100dvh - 200px);
}


/* ACTIONS */
.action-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-form button {
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
}

.action-form button i {
    font-size: 1.2rem;
    color: #d5d5ff;
    transition: color .2s ease-in-out;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 4px 8px;
    right: 120%;
    text-align: center;
    z-index: 1;
    transition: opacity .2s ease-in-out;
    border-radius: 5px;
    pointer-events: none;
}

.action-form button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.view-button .tooltip {
    background-color: rgba(0, 0, 128, 0.8);
    color: white;
}

.view-button i:hover {
    color: rgb(0, 0, 128);
}

.delete-button .tooltip {
    background-color: rgba(139, 0, 0, 0.8);
    color: white;
}

.delete-button i:hover {
    color: darkred;
}

.edit-button .tooltip {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}

.edit-button i:hover {
    color: rgb(0, 128, 0);
}







/* BUTTONS */
button {
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    align-self: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #d5d5ff;
}

.add-button {
    background-color: #d5d5ff;
    transition: filter .25s ease-in-out;
}

.submit-button:hover, .add-button:hover {
    filter: brightness(90%);
}

.submit-button {
    background-color: #d5d5ff;
    transition: filter .25s ease-in-out;
}

.cancel-button {
    background-color: transparent;
    color: white;
    outline: 2px solid #d5d5ff;
    transition: background-color .25s ease-in-out;
}

.cancel-button:hover {
    background-color: rgba(213, 213, 255, 0.2);
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.st-group {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
}

.order-total {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/* MODAL STYLES */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    color: white;
    background: black;
    outline: 3px solid #d5d5ff;
    padding: 14px;
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}


.close-modal {
    cursor: pointer;
}

.x {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 30px;
    width: 30px;
    color: black;
    background-color: #d5d5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px;
}

.x i {
    transition: color .25s ease-in-out;
}

.x:hover i {
    color: white ;
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-selection, .item-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 6px;
}

.product-card,
.sp-card,
.customer-card,
.cust-details,
.item-details{
    border-radius: 6px;
    width: 100%;
    background-color: #d5d5ff;
    color: black;
    cursor: pointer;
}

.sc-card {
    width: 100%;
}



.customer-details, .cust-details, .product-details, .item-details, .item-input {
    display: flex;
    align-items: baseline;
    gap: 10px;
    width: 100%;
    padding: 6px;
}

.item-details {
    justify-content: space-between;
}

.customer-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.order-details h3 {
    color: white;
}

.product-card h3, .product-details h3, .cust-details h3, .customer-details h3, .item-details h3 {
    color: black;
}

.order-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.order-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.order {
    width: 80%;
    height: 80%;
}



form .input-group{
    display: flex;
}

input, select{
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
}

input:hover, input:focus, select:hover, select:focus {
    outline: solid 2px #afafff;
}

form label{
    cursor: pointer;
    font-size: 14px;
}

form select {
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 10px;
}

.search {
    border-radius: 18px;
    padding-left: 20px;
}




/* DASHBOARD */
.dashboard {
    height: 100%;
}


.dboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.d-group {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

.d-sales, .d-inv {
    flex: 5;
    height: 100%;
}

.d-misc {
    flex: 1;
    height: 100%;
}

.ds-group, .di-group, .dm-group {
    background: rgba(213, 213, 255, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    width: auto;
    height: auto;
}

.dm-group {
    flex: 1;
}

.dm-group p {
    font-size: 2rem;
    font-weight: bold;
    color: #d5d5ff;
}

.dm-group i {
    font-size: 1.5rem;
    animation: flip 5s linear infinite;
}

 .s-bar, .i-line  {
    flex: 1.4;
 }

 .s-pie, .i-pie, .m-mem {
    flex: 1;
 }


/* REMOVE NUMBER INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





/* FOR DIFFERENT SCREEN SIZES */
@media screen and (max-width: 1240px) {
    .updates #orders-today,
    .updates #sales-today,
    .updates #produce-today {
        display: none;
    }
}



@media screen and (max-width: 600px) {
    .add-button .button-text {
        display: none;
    }
    .add-button {
        text-align: center;
        padding: 6px;
        width: 28px;
    }

    .main-header h1 {
        width: 100%;
        text-align: center;
    }

    .updates {
        display: none;
    }

    .footer {
        font-size: 10px;
    }

    .main-header .open-sidebar {
        display: block;
        cursor: pointer;
    }

    .tab-nav {
        position: fixed;
        top: 0;
        left: -200px;
        background-color: rgb(25, 25, 25);
        padding-top: 0;
        z-index: 1;
        border-radius: 0 10px 10px 0;
    }

    .tab-nav .close-sidebar {
        display: block;
        font-size: 2rem;
        align-self: end;
        padding: 2px 8px;
        cursor: pointer;
    }

    .tab-button {
        border-radius: 0;
    }

    .tab-content-active {
        padding: 2px 6px 6px 6px;
    }



}



@media screen and (max-width: 960px) {
    .updates #date {
        display: none;
    }

    thead{
        display: none;
    }
    tr{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: white;
    }
    tbody tr:hover{
        background-color: white;
    }
    td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }
    tbody td:nth-child(1) {
        background-color: #d5d5ff;
        font-weight: bold;
    }
    tbody{
        background: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .d-group {
        flex-direction: column;
    }
}



@media screen and (max-width: 1280px) {

}


/* ANIMATIONS */
@keyframes slideIn {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}