/* STYLES */



/* RESET BORDERS, MARGINS AND PADDINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* END RESET BORDERS, MARGINS AND PADDINGS... */




/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
/* END OF BODY STYLES... */




/* HEADER STYLES */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.log-out {
    display: flex;
}
/* END OF HEADER STYLES... */




/* MAIN TABS STYLES */
.tabs {
    display: flex;
    flex-grow: 1;
}

.tab-nav {
    flex-shrink: 0;
}

.tab-button {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.tab-button-active {
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content-active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}
/* END OF MAIN TABS STYLES... */



/* CONTENT TABS STYLES */
.content-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.c-tab-nav {
    flex-shrink: 0;
}

.c-tab-nav {
    display: flex;
}

.c-tab-button {
    display: flex;
    cursor: pointer;
}

.c-tab-button-active {
    font-weight: bold;
}

.c-tab-content {
    display: none;
}

.c-tab-content-active {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END OF CONTENT TABS STYLES... */





/*  LOG IN PAGE STYLES  */
.login-page {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END LOG IN PAGE STYLES... */




/*  ADD PRODUCT FORM STYLES  */
.add-product-container {
    display: flex;
    flex-direction: column;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END ADD PRODUCT FORM STYLES... */




/* FOOTER STYLES */
.footer {
    display: block;
    text-align: center;
}
/* END OF FOOTER STYLES... */