/* STYLES */



/* RESET BORDERS, MARGINS AND PADDINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* END RESET BORDERS, MARGINS AND PADDINGS... */




/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* END OF BODY STYLES */




/* HEADER STYLES */
.main-header {
    display: flex;
    justify-content: start;
    gap: 10px;
}
/* END OF HEADER STYLES */




/* MAIN COMPONENT TABS STYLES */
.main-component {
    display: flex;
    flex-grow: 1;
}

.mc-sidebar {
    flex-shrink: 0;
}

.mc-tab-button {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.mc-tab-button-active {
    font-weight: bold;
}

.mc-tab-content {
    display: none;
}

.mc-tab-content-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}
/* END OF MAIN COMPONENT TABS STYLES... */




/*  LOG IN PAGE STYLES  */
.login-page {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END LOG IN PAGE STYLES... */




/*  ADD PRODUCT FORM STYLES  */
.add-product-container {
    display: flex;
    flex-direction: column;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* END ADD PRODUCT FORM STYLES... */




/* FOOTER STYLES */
.footer {
    display: block;
    text-align: center;
}
/* END OF FOOTER STYLES... */